:root {
  --brand-600: 79 70 229;
  --slate-700: 15 23 42;
  --slate-600: 71 85 105 1;
}

.hoverEffect {
    cursor: pointer;
    border: 1px solid gray;
}

.header-link {
    display: flex;
    align-items: center;
    padding-top: .625rem;
    padding-bottom: .625rem;
    font-weight: 600;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(var(--slate-700) / var(--tw-text-opacity));
    transition-duration: .3s;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-brand-600 {
    --tw-text-opacity: 1;
    color: rgb(var(--brand-600) / var(--tw-text-opacity));
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(var(--slate-600) / var(--tw-text-opacity));
}

.topics {
    line-height: .9;
}

.lessons {
    display: none;
}